* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8%;
}
.navbar-ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
a {
  text-decoration: none;
  color: #575757;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./image/banner.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
  align-items: center;
}
.header-content {
  color: white;
  text-align: center;
  display: grid;
}
.header-content h1 {
  font-weight: mixed;
  font-size: 80px;
  font-family: Arial, sans-serif;
  margin-top: 100px;
}
.header-content p {
  font-size: 18px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.header-content button {
  width: 20%;
  margin-left: 40%;
  padding: 10px 0px;
  background-color: #1d4ed8;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  margin-top: 250px;
}
.nav-area button {
  background-color: #1d4ed8;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}
.speakers {
  padding: 60px 80px;
  background: #f8f8f8;
  text-align: center;
}

.speakers h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.speaker-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.speaker-card {
  width: 550px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.speaker-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.speaker-info {
  padding: 20px;
  text-align: left;
}

.speaker-info h3 {
  font-size: 20px;
  margin-bottom: 5px;
  font-family: sans-serif;
}

.speaker-info p {
  color: gray;
  font-size: 14px;
  font-family: inherit;
}
.speaker-info h7 {
  color: #2563eb;
  margin-bottom: 10px;
}
.pricing {
  padding: 60px 80px;
  text-align: center;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.pricing h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.pricing p {
  color: gray;
  margin-bottom: 40px;
}

.price-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.price-card {
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 25px;
  text-align: left;
  background: white;
}

.price-card h3 {
  margin-bottom: 5px;
  font-size: 22px;
}
.price-card h4 {
  margin-bottom: 20px;
}
.price-card h1 {
  font-size: 40px;
  margin-bottom: 5px;
}

.price-card ul {
  padding-left: 20px;
  margin-bottom: 25px;
  margin-top: 20px;
}

.price-card li {
  margin-bottom: 10px;
}
.price-card li::marker {
  color: #1d4ed8;
}
.price-card button {
  width: 100%;
  padding: 12px;
  color: #003ecb;
  border-radius: 8px;
  border-color: #2563eb;
  background-color: white;
}
.price-card button:hover {
  background: white;
}

.middle {
  background: #0f172a;
  color: white;
}

.middle button {
  background: #2563eb;
  color: white;
}

.middle button:hover {
  background: #1d4ed8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.sponsors {
  background: #f8fafc;
  padding: 80px 20px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.sponsors h2 {
  text-align: center;
  font-size: 40px;
  color: #111827;
  margin-bottom: 15px;
}

.sponsors p {
  text-align: center;
  color: #6b7280;
  max-width: 650px;
  margin: 0 auto 50px;
  line-height: 1.7;
}

.sponsor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

.sponsor-card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.sponsor-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.sponsor-card img {
  width: 120px;
  filter: grayscale(100%);
  transition: 0.3s;
}

.sponsor-card:hover img {
  filter: grayscale(0%);
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #0d1b2a;
  color: #d1d5db;
  font-size: 14px;
  border-top: 1px solid #334155;
}

.footer p {
  margin: 20px;
}
